.userslist {
    max-width: 1200px;
    width: 1200px;
    margin: 30px auto;
    margin-bottom: 40px;
}

.userslist h1 {
    font-size: 1.2rem;
    margin: 20px 0;
}

.container {
    width: 1200px;
    margin-bottom: 10px;
}

.container a {
    background: none;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    padding: 4px 10px;
    color: var(--primary-color);
    cursor: pointer; 
    text-decoration: none;
    font-size: 1em;
    width: 150px;
    text-align: center;
}

.container a:hover {
    color: white;
    background-color: var(--primary-color);
}

.container button {
    width: 150px;
}

th, td {
    text-align: center;
    color: #333;
    padding: 8px;
    width: 500px;
}