.userslist {
    max-width: 1600px;
    width: 1600px;
    margin: 30px auto;
    margin-bottom: 40px;
}

.userslist h1 {
    font-size: 1.2rem;
    margin: 20px 0;
}

.container {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.container a {
    background: none;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    padding: 4px 10px;
    color: var(--primary-color);
    cursor: pointer; 
    text-decoration: none;
    font-size: 1em;
    width: 100px;
    text-align: center;
}

.container a:hover {
    color: white;
    background-color: var(--primary-color);
}

.container button {
    width: 100px;
}