.profile {
    max-width: 1600px;
    width: 1600px;
    margin: 30px auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.profile h1 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.userDetails {
    width: 400px;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.userDetails button {
    margin-top: 30px;
    width: 150px;
}

.container {
    width: 1100px;
    margin-bottom: 10px;
}

.container tr {
    margin-bottom: 20px;
}

.container a {
    background: none;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    padding: 4px 10px;
    color: var(--primary-color);
    cursor: pointer; 
    text-decoration: none;
    font-size: 1em;
    width: 150px;
    text-align: center;
}

.container a:hover {
    color: white;
    background-color: var(--primary-color);
}

.check {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}