.shipping {
    max-width: 1400px;
    margin: 30px auto;
}

.container {
    margin:  30px auto;
    max-width: 400px;
}

.container h1 {
    font-size: 1.2rem;
}

.container form {
    margin: 20px 0;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.shipping button {
    margin-top: 25px;
    width: 180px;
}