.page {
    max-width: 1600px;
    margin: 30px auto;
}

.page.dark {
    color: white;
}

.page.dark p, .page.dark h2, .page.dark strong{
    color: white;
}

.page a {
    background: none;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    padding: 4px 10px;
    color: var(--primary-color);
    cursor: pointer; 
    text-decoration: none;
    font-size: 1em;
}

.page a:hover {
    color: white;
    background-color: var(--primary-color);
}

.container {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.container img {
    width: 500px;
}

.details {
    width: 400px;
    padding: 0 10px;
}
.details h1 {
    padding-bottom: 20px;
}

.rating {
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    padding: 10px;
    margin-bottom: 20px;
}

.price {
    margin-bottom: 20px;
}

.checkout {
    width: 400px;
}

.checkout p {
    margin-bottom: 10px;
}

.checkout button {
    margin: 15px 0;
}

.select {
    width: 200px;
    height: 35px;
}

.select.dark {
    color: #333;
}

.reviews {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    margin-top: 50px;
}

.reviews h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.reviews strong {
    color: #333;
}

.reviewlist {
    width: 300px;
}

.reviewwrite {
    width: 400px;
}

.reviewwrite p {
    color: #333;
}

.reviewwrite button {
    margin-top: 20px;
}

.reviewwrite .select {
    width: 400px;
}

.review {
    margin-bottom: 15px;
}